* {
}

body {
    background-color: lemonchiffon;
}

.login-form {
    padding-top: 50px;
}

.head-div {
    text-align: center;
    padding-top: 30px;
}

    .head-div img {
        width: 420px;
    }

.btn {
    background-color: grey;
}
.checkbox-container {
    display: flex;
    align-items: center;
}

.link-container {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    flex-direction: column;
}

.mb-3.form-check {
    display: flex;
    align-items: flex-start;
    margin-right: auto;
    flex-direction: row;
}

.form-link-label {
    border: solid 1px;
    border-color: lightslategray;
    background-color: pink;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    height: 25px;
    width: 200px;
    text-decoration: none;
    padding: 0 10px;
    margin-bottom: 5px;
    color: white;
    line-height: normal;
    text-align: center;
}

#rememberMe {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}