* {
    background-color:lemonchiffon;
}
body {
    background-color:blue;
}
.login-form {
    padding-top : 50px;
}
.head-div {
    text-align:center;
    padding-top:30px;
}
.head-div img {
    width:420px;
}
.btn {
    background-color:grey;
}
.form-link-label {
    display: inline-block;
    padding-right: 12px;   
}
.form-link-user{
    display: inline-block;
    padding-right: 12px;
}
