* {
    --firstBg-color: #e5aa78;
    --secondBg-color: #f3b785;
    --firstTxt-color: #000;
    --secondTxt-color: #808080;
    --btnBg-color: #f67e39;
}

body {
    background-color: var(--firstBg-color);
    color: var(--firstTxt-color)
}

.form-control {
    background-color: var(--secondBg-color);
    color: var(--secondTxt-color);
}

form-control:hover {
    outline: 2px solid red; /* Odak göstergesini kırmızı yapar */
    outline-offset: 2px; /* Göstergenin inputun dışına çıkmasını sağlar */
}

.login-form {
    padding-top: 50px;
}

.head-div {
    text-align: center;
    padding-top: 30px;
}
.head-div img {
    width: 420px;
 }

.form-group, .link-container {
    background-color: var(--btnBg-color);
    color: var(--firstTxt-color);
}
#btnLogin {
    background-color:var(--secondBg-color);
    border-width:1px;
    border-color:var(--secondTxt-color);
    border-radius:8px;
}

#btnLogin:hover {
    background-color: var(--secondBg-color);
    transform: scaleY(.5);
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.link-container {
    display: flex;
    /*    justify-content: flex-end;*/
    justify-content: center;
    align-items: center;
    margin-left: auto;
    flex-direction: column;
}

.mb-3.form-check {
    display: flex;
    align-items: flex-start;
    margin-right: auto;
    flex-direction: row;
}

.form-link-label {
    border: solid 1px;
    border-color: lightslategray;
    background-color: pink;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    height: 25px;
    width: 200px;
    text-decoration: none;
    padding: 0 10px;
    margin-bottom: 5px;
    color: white;
    line-height: normal;
    text-align: center;
}

#rememberMe {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
